/* html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100%
}

body {
  background: rgba(255, 208, 67, 0.5);
  color: #000;
  margin: 0 auto;
} */

/* Setup */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =======================================================================
## ++ Globals
========================================================================== */
html {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1788ea;
}

/* =======================================================================
## ++ Cleafix
========================================================================== */
/* float clearing for IE6 */
* html .clearfix {
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
* + html .clearfix {
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.clr {
  clear: both;
}

.hide-on-desktop {
  display: none;
}

body {
  margin: 40px;
}




/* Custom */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;

}



.container header, main, footer {
  border: 1px dotted #000;
  grid-column: 1 / 4;
}

.container main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
  padding: 1em;  
}




.container footer {
  display: grid;
  justify-content: right;
  padding: 1em;
  border-top:solid #ffd043 10px;
  background: #000;
  grid-auto-rows: minmax(100px, auto);
  color: white;
}

 header, main, footer, .sidebar {
  transition: 0.3s;
 }

nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
 

nav {
  background: black;
  color: white;
}

.nav-brand {
  padding: 7px;
  font-size: 1.5rem;
  text-transform: uppercase;
  justify-self: center;
}

.nav-menu-button {
  padding: 12px;
  font-size: 1.5rem;
  text-transform: uppercase;
  justify-self: left;
}

.nav-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr) ;
  justify-content: center;
}

.nav-item {
  list-style: none; 
}

.nav-link:link {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;  
}

.nav-link:hover {
  background:#ffd043;
  color: black;
}

.nav-link:visited {
  color: white;
}


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  /* padding-top: 43px; */
  display: grid;
 
}
.sidebar-nav-wrapper {
  padding: 1em;
  background: linear-gradient( #FFD043, #B98D07)
  
  
}
.sidebar-nav-wrapper a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  margin-bottom: 1px;
  background-color: #B98D07;
  color: #000;
  display: block;
  transition: 0.3s;
}
.sidebar-nav-wrapper a:hover {
  background-color: #000;
  color: #FFF;
}

.toggleNavBtn {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  background: black;
  color: white;
  text-decoration: none;
  border: 0px;
  padding-left: 12px;
 
}


@media (min-width: 900px) {
  .container main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em;
    justify-items: center;
    padding: 0.5em;
  }
  .container main div:nth-child(1){
    grid-column: 2 /5;
    grid-row: 1 /4;
  }
}